html,body {
	color: white;
}

.config_txt {
	width: 100%;
	height: 150px;
}

.text-center {
	text-align: center;
}

.config_button {
	height: 20px;
}

ul {
    padding-inline-start: 0;
}

.list {
	width:80%;
	margin:auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.collapsible {
	background-color: #00000020;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
  
.active, .collapsible:hover {
background-color: #00000070;
}

.content {
padding: 18px;
display: none;
overflow: hidden;
background-color: #00000020;
}

.configbox {
	text-align:center;
	margin: auto;
	width: 50%;
	padding: 10px;
}

.configbox table {
	margin-left: auto;
	margin-right: auto;
}

#cliinput {
	width:90%;
}

.clioutput {
	color: white;
	height:350px;
	width:100%;
	overflow-y: auto;
}

.devicetextareas {
	width:100%;
}

.devicetextareas textarea {
	height:300px;
}

.devicecodearea {
	width: 50%;
}

.summarytable {
	width: 80%;
	height:500px;
	margin:auto;
}

.summarytable td {
	width:33%;
}

.summarytable p {
	margin:0;
}

.logcontainer {
	overflow-y: scroll;
	height:350px;
	width: 90%;
	padding-left: 20px;
}