html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: white;
}

.name {
	margin: 0;
}

.data {
	overflow: hidden;
	height: 100px;
	width: 407px;
	vertical-align: middle;
	display: table-cell;
	border: 1px;
	border-color: grey;
	border-style: solid;
}

.buttonstate_true {
	background-color: black;
}

.buttonstate_false {
	background-color: white;
}

.momentary_toggle {
	background-color: grey;
}

.devices {
	text-align: center;
}

.devices table {
	width: 100%;
	height: 100%;
}

td {
	height: 200px;
	width: 250px;
}

button {
	height: 100px;
	width: 100%;
	box-shadow: none;
}

span {
	display: inline-block;
	overflow: hidden;
	height: 100%;
}