.devices {
	padding:0;
	justify-content: center;
	display: inline-block;
	list-style: none;
	display: grid;
	/* grid-template-columns: repeat(2,48%); */
	grid-gap: 1%;
	margin: auto;
}

.devices li {
	overflow:hidden;
	min-height:100px;
}


/* .box .data {
	text-align: center;
	color: white;
	height:100%;
	font-size: 150%;
	display: flex;
	align-items: center; 
	justify-content: center;
} */



.chart {
	height:500px;
	margin: auto;
	margin-top:8em;
	width: 100%;
}

@media (min-width: 1200px), (orientation: landscape) {
	.chart {
		width: 90%;
	}
/* 
	.device button {
		font-size:150%;
	}

	.box .data {
		font-size:100%;
	} */

	.devices {
		grid-template-columns: repeat(3,30%);
	}
}

@media (min-width: 1500px) {
	.devices {
		width:70%;
	}
}
