html,body {
	color: white;
}

.text-center {
	text-align: center;
}

.form_element {
	display: inline-block;
	width:100%;
	margin-top: 5px;
}

.form_element textarea,input[type="text"],input[type="file"],select {
	float:right;
	width:80%;
}

.form_element label {
	width:20%;
}

/* DEVICES LIST */

.list {
	width: 80%;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.collapsible {
	background-color: #00000020;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
  
.active, .collapsible:hover {
	background-color: #00000070;
}

.content {
	padding: 18px;
	display: none;
	overflow: hidden;
	background-color: #00000070;
}

.device_buttons {
	width:100%;
}
.device_buttons td {
	width: 50%;
}
.device_buttons button,input[type=submit]{
	width:100%;
}

/*  */

.summarytable {
	width: 80%;
	margin: auto;
	height: 500px;
}

.summarytable tbody,tr {
	display: block;
}

.summarytable td {
	box-sizing: border-box;
}

.summarytable td {
	padding:0;
}

.summarytable h2 {
	text-align: center;
}

.logs {
	width:70%;
	overflow-wrap: anywhere;
}

.firmware {
	width:30%;
}

.configbox {
	background-color: #00000020;
	height: 400px;
	padding:10px;
	width:100%;
}

.logcontainer {
	display: block;
	float: left;
	overflow-y: auto;
	width: 100%;
	height:100%;
}

.logcontainer p {
	margin:0;
}

.firmware .form_element textarea,input[type="text"],input[type="file"],select {
	width:60%;
}

.firmwaretable {
	width:100%;
	height:100%;
}
.firmwaretable tr {
	height: 50%;

}
.firmwaretable td {
	width:100%;
}

.currentfirmware {
	width:50%;
	margin:auto;
	text-align: center;
}

.currentfirmware table td {
	margin:0;
}
